__pycache__/
.DS_Store
core/saved_arrays/.DS_Store
core/cluster/logs/*
core/saved_arrays/samples/*
core/saved_arrays/morphology_all/*
core/saved_arrays/eval_loc/fine_discretization/*
demos/runs/*
!demos/runs/fc-mnist*
core/saved_weights/unconditional-dendritic*/
core/saved_weights/unconditional-concat_*/
demos/test.ipynb
.vscode/